#hiddenTreasure {
    position: absolute;
    bottom: 5%;
    right: 10%;
    height: 100px;
    width:100px;
}

#hiddenTreasure:hover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: URL('../img/hiddentreasure.png');
    cursor:pointer;
}

.btn {
    width:170px;
}

#treasure {
    position: absolute;
    bottom: 15%;
    right: 90%;
    height: 50px;
    width:50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: URL('../img/hiddentreasure.png');
    cursor:pointer;
}

#coffre {
    position: absolute;
    bottom: 13%;
    right: 48%;
    height: 100px;
    width:100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: URL('../img/coffre.png');
    cursor:pointer;
}