body.entree {
    background-image: URL('../img/home2.jpg');
}

body.etage1{
    background-image: URL('../img/entrance2.jpg');
}

body.etage2 {
    background-image: URL('../img/stage2.jpg');
}

body.etage3{
    background-image: URL('../img/stage33.jpg');
    background-size: cover;
}

body {
    margin:0;
    padding:0;
    height:100vh;
    width:100vw;
    background-color:#3c3c3c;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

footer {
    height:20vh;
    width:80vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
}

.bg-transp {
    background-color: transparent;
}

.modal-header, .modal-footer, .modal-content {
    border:none;
    box-shadow: none;
}

#notifs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    left:10vw;
    right:10vw;
    top:50vh;
}

#notifs > * {
    color:#f19d03;
    text-align: center;
}

.hidden {
    display:none!important;
}


